//
   Created by John Tan on 4/4/14.
div(ng-controller="GenerateCtrl")
    .ui.form
        .ui.header Select Role
            .sub.header Will include general/variety questions by default.
        .ui.small.icon.input#numberofquestionsgenerate
            |Role
            .requirednumberofquestions(ng-show="!limit['role']") Required
            input(type="text" placeholder="# of Role" ng-model="limit['role']")
        //Removing required notification until it can be placed on top of input field.
        //Looks odd when it's inline.
        .ui.small.icon.input#numberofquestionsgenerate(ng-repeat="category in questionskeys.category")
            |{{category}}
            .requirednumberofquestions(ng-show="!limit[category]" )   Required
            input(type="text" placeholder="# of {{category}}" ng-model="limit[category]")
        //span
        .grouped.inline.fields
            .field(quick-ng-repeat="role in questionskeys.role")
                .ui.radio.checkbox
                    input(type="radio" name="roles" id="gen_"+"{{role}}" ng-model="generate.role" value="{{role}}")
                    label(for="gen_"+"{{role}}") {{role}}

        .ui.button(ng-click="generatebutton()")
            i.tasks.icon
            |Generate {{generate.role}} Questions
    .ui.header(ng-repeat-start="category in questionskeys.category") {{category}}
    .ui.horizontal.divider
    .ui.divided.list(ng-repeat-end)
        div.item(quick-ng-repeat = "question in generatedqs[category] | orderBy:predicate | limitTo: limitcopy[category]" class="{{category + 'q' + $index}}")
            .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers") Answer
            .content.questionscontent
                a.ui.small.header#questionsheader
                    |{{question.question}}
                div
                .ui.label subcategory |
                    .detail {{question.subcategory}}
                .ui.label comments |
                    .detail {{question.comments}}
                div(ng-show="displayanswers")
                    div.ui.horizontal.icon.divider
                        i.info.icon
                    div
                        |{{question.answers}}
    .ui.header {{generated.role}}
    .ui.horizontal.divider
    .ui.divided.list
        div.item(quick-ng-repeat = "question in generatedqs.Role | orderBy: 'comments' | limitTo: limitcopy['role']" class = "{{'role'+'q'+$index}}")
            .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers") Answer
            .content.questionscontent
                a.ui.small.header#questionsheader
                    | {{question.question}}
                div
                .ui.label subcategory |
                    .detail {{question.subcategory}}
                .ui.label comments |
                    .detail {{question.comments}}
                div(ng-show="displayanswers")
                    div.ui.horizontal.icon.divider
                        i.info.icon
                    div
                        | {{question.answers}}