//
   Created by John Tan on 4/4/14.
div(ng-controller="GenerateCtrl")
    .ui.form
        .ui.header Select Role
            .sub.header Will include general/variety questions by default.
        .ui.small.icon.input#numberofquestionsgenerate
            input(type="text" placeholder="# of Questions" ng-model="limit")
            i.setting.icon
        span.requirednumberofquestions(ng-show="!limit")   Required
        .grouped.inline.fields
            .field(quick-ng-repeat="role in questionskeys.role")
                .ui.radio.checkbox
                    input(type="radio" name="roles" id="gen_"+"{{role}}" ng-model="generate.role" value="{{role}}")
                    label(for="gen_"+"{{role}}") {{role}}

        .ui.button(ng-click="generatebutton()")
            i.tasks.icon
            |Generate {{generate.role}} Questions
    .ui.header(ng-repeat-start="category in questionskeys.category") {{category}}
    .ui.horizontal.divider
    .ui.items(ng-repeat-end)
        div.item(quick-ng-repeat = "question in generatedqs[category] | orderBy:predicate | limitTo: limitcopy")
            a.ui.small.header
                |{{question.question}}
            .ui.horizontal.icon.divider
                i.question.circular.icon
                .detail {{question.subcategory}}
            .ui.label comments |
                .detail {{question.comments}}
            div
            .ui.label.answers answers
    .ui.header {{generated.role}}
    .ui.horizontal.divider
    .ui.items
        div.item(quick-ng-repeat = "question in generatedqs.Role | orderBy: 'comments' | limitTo: limitcopy")
            a.ui.small.header
                |{{question.question}}
            .ui.horizontal.icon.divider
                i.question.circular.icon
                .detail {{question.subcategory}}
            .ui.label comments |
                .detail {{question.comments}}
            div
            .ui.label.answers answers
