//
   Created by John Tan on 4/4/14.
div(ng-controller="GenerateCtrl")
    .ui.form
        .ui.header Enter Candidate Name
        .requirednumberofquestions(ng-show="!candidatename") Required
        input(type="text" placeholder="Interviewee" ng-model="candidatename")
    .ui.form(ng-show="!printview")
        .ui.header Select Role
            .sub.header Enter # of questions per category
        .ui.small.icon.input#numberofquestionsgenerate
            |Role
            //.requirednumberofquestions(ng-show="!limit['role']") Required
            input(type="text" placeholder="# of Role" ng-model="limit['role']")
        //Removing required notification until it can be placed on top of input field.
        //Looks odd when it's inline.
        .ui.small.icon.input#numberofquestionsgenerate(ng-repeat="category in questionskeys.questionskeysobject.category")
            |{{category}}
            //.requirednumberofquestions(ng-show="!limit[category]" )   Required
            input(type="text" placeholder="# of {{category}}" ng-model="limit[category]")
        //span
        .grouped.inline.fields
            .field(quick-ng-repeat="role in questionskeys.questionskeysobject.role")
                .ui.radio.checkbox
                    input(type="radio" name="roles" id="gen_"+"{{role}}" ng-model="generate.role" value="{{role}}")
                    label(for="gen_"+"{{role}}") {{role}}

        .ui.button(ng-click="generatebutton()")
            i.tasks.icon
            |Generate {{generate.role}} Questions

    .ui.button(ng-click="savegenerated()")
        i.tasks.icon
        |Save
    .ui.button(ng-click="toggleprintview()")
        i.tasks.icon
        |Print View
    .ui.header.questioncategoryheader(ng-repeat-start="category in questionskeys.questionskeysobject.category") {{category}}
    .ui.horizontal.divider
    .ui.list(ng-repeat-end)
        div.item(quick-ng-repeat = "question in generatedqs[category] | orderBy:predicate | limitTo: limitcopy[category]" class="{{category + 'q' + $index}}")
            .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers" ng-show = "!printview") Answer
            .content.questionscontent
                a.ui.small.header#questionsheader
                    |{{question.question}}
                div
                .ui.label subcategory |
                    .detail {{question.subcategory}}
                .ui.label comments |
                    .detail {{question.comments}}
                div(ng-show="displayanswers || showallanswers")
                    div.ui.horizontal.divider
                    div.answersbox
                        |{{question.answers}}
    .ui.header.questioncategoryheader {{generated.role}}
    .ui.horizontal.divider
    .ui.list
        div.item(quick-ng-repeat = "question in generatedqs.Role | orderBy: 'comments' | limitTo: limitcopy['role']" class = "{{'role'+'q'+$index}}")
            .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers" ng-show = "!printview") Answer
            .content.questionscontent
                a.ui.small.header#questionsheader
                    | {{question.question}}
                div
                .ui.label subcategory |
                    .detail {{question.subcategory}}
                .ui.label comments |
                    .detail {{question.comments}}
                div(ng-show="displayanswers || showallanswers")
                    div.ui.horizontal.divider
                    div.answersbox
                        | {{question.answers}}