//
   Created by John Tan on 4/28/14.
div {{apptime}} {{candidatename}}
.ui.button(ng-click="toggleprintview()")
    i.tasks.icon
    | Print View
.ui.header.questioncategoryheader(ng-repeat-start="category in questionskeys.category") {{category}}
.ui.horizontal.divider
.ui.list(ng-repeat-end)
    //|{{tempqs[category]}}
    //|{{category}}
    div.item(quick-ng-repeat = "question in tempqs[category] | orderBy:predicate " class="{{category + 'q' + $index}}")
        .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers" ng-show = "!printview") Answer
        .content.questionscontent
            a.ui.small.header#questionsheader
                |{{question.question}}
            div
            .ui.label subcategory |
                .detail {{question.subcategory}}
            .ui.label comments |
                .detail {{question.comments}}
            div(ng-show="displayanswers || showallanswers")
                div.ui.horizontal.divider
                div.answersbox
                    | {{question.answers}}
.ui.header.questioncategoryheader {{tempqs[appquestion.questions.Role[0]]}}
.ui.horizontal.divider
.ui.list
    div.item(quick-ng-repeat = "question in tempqs['Role'] | orderBy: 'comments' " class = "{{'role'+'q'+$index}}")
        .left.floated.tiny.blue.ui.button(ng-click = "displayanswers = !displayanswers" ng-show = "!printview") Answer
        .content.questionscontent
            a.ui.small.header#questionsheader
                | {{question.question}}
            div
            .ui.label subcategory |
                .detail {{question.subcategory}}
            .ui.label comments |
                .detail {{question.comments}}
            div(ng-show="displayanswers || showallanswers")
                div.ui.horizontal.divider
                div.answersbox
                    | {{question.answers}}