.ui.small.icon.input
    input(type="text" placeholder="Name" ng-model="searchname")
    i.search.icon
.ui.small.icon.input
    input(type="text" placeholder="Role" ng-model="searchrole")
    i.search.icon
div If you click on a previous candidate, your current question portfolio will be lost unless you have saved it.
div.ui.items
    div.item(ng-repeat = "candidate in recentquestionsarray | filter:{name: searchname, role: searchrole} | orderBy:'time':true" ng-click = "switchcandidate(candidate)")
        .content
            .meta Role: {{candidate.role}}
            .name
                | {{candidate.name}}
            p.description
                | {{candidate.comments}}
            .right.floated.tiny.blue.ui.button(ng-click = "deletecandidate(candidate)") DELETE CANDIDATE