//
   Created by John Tan on 4/3/14.

div You can combine queries | Remember to delete unwanted search terms

.ui.small.icon.input
    input(type="text" placeholder="Question" ng-model="search_question_name")
    i.search.icon

.ui.small.icon.input(ng-repeat="(key, value) in questionskeys | orderBy:predicate")
    input(type="text" placeholder="{{key}}" ng-model="search_question_" + key)
    i.search.icon

.ui.small.icon.input
    |# of Results
    input(type="text" placeholder="Limit # of Results" ng-model="filterlimit")

div.ui.items
    div.item(ng-repeat = "question in questions | limitTo: filterlimit | filter: {question: search_question_Name, category: search_question_Category, 'subcategory': search_question_Subcategory, comments: search_question_Comments, role: search_question_Role}")
        a.ui.small.header
            |{{question.question}}
        .ui.horizontal.icon.divider
            i.question.circular.icon
        .ui.label role |
            .detail {{question.role}}
        .ui.label category |
            .detail {{question.category}}
        .ui.label sub-category |
            .detail {{question.subcategory}}
        .ui.label comments |
            .detail {{question.comments}}
        div
        .ui.label.answers answers
