.ui.vertical.menu(ng-controller="SideCtrl")
    a.teal.item(ng-class="{active: isActive('/')}" href="/") Home
    a.teal.item(ng-class="{active: isActive('/search')}" href="/search") Search
    a.teal.item(ng-class="{active: isActive('/browse')}" href="/browse") Browse
    a.teal.item(ng-class="{active: isActive('/update')}" href="/update") Update
