script(type="text/ng-template" id="search")
    include search

script(type="text/ng-template" id="home")
    include home

script(type="text/ng-template" id="recentview")
    include recentview

script(type="text/ng-template" id="update")
    include updatequestions

script(type="text/ng-template" id="updatekeys")
    include updatekeys